<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>NeredDinner</title>
</head>
<body>
    <section class="about">
        <div class="container">
            <div class="about-wrapper">
                <div class="left">
                    
                    <ul>
                        <li>We deliver best quality food</li>
                        <li>Enjoy your happy meal.</li>
                        <li>Quality is our frist preference</li>
                        <li>Enjoy your happy meal.</li>
                    </ul>
                </div>
                <div class="right">
                    
                    <ul>
                        <li>We deliver best quality food</li>
                        <li>Enjoy your happy meal.</li>
                        <li>Quality is our frist preference</li>
                        <li>Enjoy your happy meal.</li>
                    </ul>
                </div>
            </div>
            <div>
                <div class="counts">
                    <div class="count-item count-item1">
                        <span>200</span>
                        <p>Italian</p>
                    </div>
                    <div class="count-item count-item2">
                        <span>100</span>
                        <p>Maharashtrian</p>
                    </div>
                    <div class="count-item count-item3">
                        <span>50</span>
                        <P>Maxican</P>
                    </div> 
                </div>
                <div class="banner">
                    <div class="banner-left">
                        <P>What are you waiting for , reach us right now</P>
                    </div>
                    
                        <div class="banner-right">
                            <a href="help" class="btn-cta text-white " > Contact Us </a>
                        </div>
                </div>
            </div>
        </div>
    </section>




</body>
</html>
