.login-form {
    margin-top: 60px;
}
.login-form {
    width: 300px;
    margin: 0 auto;
    font-size: 15px;
    color:black;
    font-weight: 700;
}
.login-form input {
    height: 50px;
    padding: 5px 10px;
    border: 1px solid #ddd;
    margin-bottom: 20px;
}
.login-form button {
    width: 100%;
    border: none;
    background: #ddd;
    padding: 10px 0;
    font-size: 15px;
    color: #fff;
    cursor: pointer;
}
.login-form button:hover {
    background: #369;
}
.login-form a {
    color: #369;
    font-size: 14px;
}
h1{
    text-align: center;
    color: black;
}
/* .login-form a:hover {
    text-decoration: underline;
} */
/* Path: NredDinner/src/app/login/login.component.html */
