
<nav class="navbar bg-dark">
  <div class="container">
      <h1 class="logo text-white">Nred Dinner</h1>
          <ul class="nav-items">
            <li class="nav-item"><a routerLink="home">Home</a></li> 
              <li class="nav-item"><a routerLink="about">About</a></li> 
              <li class="nav-item"><a routerLink="help">Help</a></li>
              <li class="nav-item"><a routerLink="dinner">Dinner</a></li>
              <li class="nav-item"><a routerLink="login">Login</a></li>
              <li class="nav-item"><a routerLink="register">Register</a></li>

                
          </ul>
          
  </div>
</nav>
<router-outlet></router-outlet>