
<div class="header-content">
    <h1 class=".lg-heading text-black main-heading">Food  Webstite</h1>
    <P CLASS="text-black"> Best quality food we deliver</P>
   
   </div>
<section class="showcase" id="Explore-places">
    <div class="container" >
        <div class="row row1">
            
            <div class="text-box">
                <h2 > Italian Food </h2>
                <p>Lorem, ipsum dolor sitiae, fugiat rem, repellendusm impedit perspiciatis. Dolores similique a magnam, vero, maxime nesciunt iste maiores quo doloribus deleniti rerum eveniet iusto culpa ipsum dolorum facilis quidem reprehenderit, ea quae. Asperiores, sunt architecto!</p>
                <a href="Home " class= 'btn  btn-secondary text-red '> More</a>
            </div>
            

        </div>
        <div class="row row2">
           
            <div class="text-box"> 
                <h2 >Maxican</h2>
                <p>Lorem, ipsum dolor sit ametestiae, fugiat rem, mpedit perspiciatis. Dolores similique a magnam, vero, maxime nesciunt iste maiores quo doloribus deleniti rerum eveniet iusto culpa ipsum dolorum facilis quidem reprehenderit, ea quae. Asperiores, sunt architecto!</p>
                <a href="Home" class= 'btn btn-secondary text-red'> More</a>
            </div>
        </div>

    </div>