form {
    display: flex;
    flex-direction: column;
    width: 300px;
    color:black;
    font-weight: 700;
    padding-left: 40%;
    
}
div{
    margin-bottom: 10px;
   

}
label{
    display: inline-block;
    width: 100px;
}
input{
    width: 200px;
}
button{
    width: 100px;
    margin-top: 10px;
}
h1{
    text-align: center;
    color: black;
}
